.contact {
  padding: 0 1em;
  &__title {
    text-align: center;
    margin: 1.5em auto 1.5em auto;
    color: $color-secondary;
    letter-spacing: 0;
    line-height: 1.5em;
    & h2 {
      font-size: 2.3em;
      margin-bottom: 0.2em;
    }
    & span {
      font-weight: 300;
      text-transform: none;
      letter-spacing: 0;
      font-size: 1.3em;
      line-height: 1.5em;
      color: #646363;
    }
  }
  &__infos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &__info {
      width: 10em;
      margin-bottom: 2em;
      display: flex;
      word-break: break-word;

      -webkit-hyphens: auto;

      -moz-hyphens: auto;

      -ms-hyphens: auto;

      -o-hyphens: auto;

      hyphens: auto;
      & svg {
        margin-right: 1em;
      }
      &__text h3 {
        margin-bottom: 0.5em;
        font-weight: bold;
      }
    }
  }
  &__map {
    height: 20em;
    &__leatflet {
      height: 100%;
    }
  }
}

.leaflet-pane .leaflet-marker-pane img {
  width: 4em !important;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .contact {
    &__infos {
      justify-content: space-between;
      &__info {
        // width: 10em;
      }
    }
  }
}

@media (min-width: 1200px) {
  .contact {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    height: 30em;
    padding-bottom: 10em;
    &__title {
      width: 100%;
      & h2 {
        font-size: 2.6em;
      }
      & span {
        font-size: 1.6em;
      }
    }
    &__infos {
      width: 30%;
      height: 100%;

      &__info {
        width: 100%;
        justify-content: flex-start;
        & h3,
        a,
        p {
          font-size: 1.3em;
        }
      }
    }
    &__map {
      width: 70%;
      height: 100%;
    }
  }
  .leaflet-pane .leaflet-marker-pane img {
    width: em !important;
  }
}
