.scroll-to-top {
  display: none;
  &__button {
    cursor: pointer;
    position: fixed;
    right: 1.6em;
    bottom: 1.5em;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    padding: 1.5em;
    background-color: $color-secondary;
    color: $color-primary;
    z-index: 5000;
    border: 1px solid $color-white;
    transition: 2s;
    outline: none;
    & svg {
      position: relative;
      bottom: 0.5em;
      right: 0.42em;
    }
  }
  &__button:hover {
    background-color: $color-primary;
    color: $color-secondary;
  }
}

@media (min-width: 1200px) {
  .scroll-to-top {
    display: inherit;
  }
}
